.bakery-view {
    display: none;
}

.bakery-view.is-active {
    display: block;
}

body {
    /* disables text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.mdl-card {
    width: 100%;
    min-height: 150px;
}

.questionnaire-card {
    width: 100%;
    min-height: 100px;
}

.questionnaire-answer {
    display: block;
    margin: 4px;
}

.chefs-hat {
    max-height: 36px;
    float: right;
    margin: 4px -12px 4px auto;
    padding-right: 4px;
}

.mdl-ext__fixed-fab {
    position: fixed;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 998;
}

#addTodoButton {
    right: 24px;
    bottom: 24px;
}

#deleteAllButton {
    right: 96px;
    bottom: 24px;
}

.mdl-ext_todolist__item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mdl-ext__micro-button {
    transform: scale(0.9, 0.9) translateX(-16px);
}

.mdl-ext-progresscard__title-text {
    font-size: 1.4em;
}

.mdl-ext_progresscard__title {
    padding-bottom: 0px;
}

.mdl-ext_progresscard__supporting-text {
    padding-top: 16px;
    margin: 0 auto;
}

#startupTodoProgressbar, #myTodoProgressbar {
    margin: 0 auto;
    width: 95%;
}

.mdl-ext_progresscard {
    min-height: 0;
    position: fixed;
    z-index: 2;
}

.progresscard_spacer {
    height: 16px;
}

.bufferbar {
    background-image: none !important;
    background-color: #ddd;
}

.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 290px;
}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.0rem;
}

.mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mdl-dialog__actions > * {
    margin-right: 8px;
    height: 36px;
}

.mdl-dialog__actions > *:first-child {
    margin-right: 0;
}

.mdl-dialog__actions--full-width {
    padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width > * {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right;
}

.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0, 0, 0, 0.54);
}

#myTodoList {
    margin-top: 0px;
}

.wrapped {
    overflow-wrap: break-word;
    white-space: normal;
}

.background-icon {
    font-size: 230px;
    color: rgba(76,175,80,0.5);
}

.mdl-ext_infocard {
    width: 100%;
}

.mdl-ext-infogrid {
    max-width: 1200px;
}

.mdl-ext-infocard__supporting-text {
    min-height: 80px;
}

.mdl-ext-infocard__title {
    min-height: 0px;

}

.mdl-ext-infocard__title-text {
    font-size: 22px;
}

@keyframes shakeJump {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    60% { transform: rotate(0deg); }
    80% { transform: translate(0px, 0px) }
    90% { transform: translate(0px, -6px) }
    100% { transform: translate(0px, 0px) }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    45% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.shakeAndJump {
    animation: shakeJump 3s;
    animation-iteration-count: infinite;

}

.shakeFast {
    animation: shake 1500ms;
    animation-iteration-count: infinite;
    animation-delay: 800ms;
}

#createDialog, #deleteDialog {
    transform: translateY(-50%);
}

.mdl-ext-todolist_item-secondary-action {
    transform: translateX(16px);
}

#questionnaireIcon {
    font-size: 50px;
}

.questionnaire-card .mdl-card__title {
    background-color: #ffffff00;
    /*background-image: url(../gfx/chef_white.svg);
    background-position-x: right 10px;
    background-position-y: top 10px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto 70%;
    background-origin: padding-box;
    background-clip: border-box;*/
    min-height: 200px;
    /*z-index: 1;*/
}

.questionnaire-title-background {
    position: absolute;
    color: #aaa;
    left: auto;
    right: 10px;
    bottom: auto;
    width: 100%;
    text-align: right;
}
.questionnaire-title-background-icon {
    font-size: 9em;
}

/*make font color white for green theme*/
.mdl-layout__header .mdl-layout__drawer-button {
    color: #ffffff;
}
.mdl-layout__header {
    color: #ffffff;
}
.mdl-layout__tab {
    color: #ffffff;
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color: #ffffff;
}
.questionnaire-answer.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored {
    color: #ffffff;
}
i#questionnaireIcon {
    color: rgb(76,175,80);
}