.bakery-view {
    display: none;
}

.bakery-view.is-active {
    display: block;
}

body {
    /* disables text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.mdl-card {
    width: 100%;
    min-height: 150px;
}

.chefs-hat {
    max-height: 48px;
    float: right;
    margin: 4px -12px 4px auto;
}

.mdl-ext__fixed-fab {
    position: fixed;
    right: 24px;
    bottom: 24px;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 998;
}
