.bakery-view {
    display: none;
}

.bakery-view.is-active {
    display: block;
}

body {
    /* disables text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.mdl-card {
    width: 100%;
    min-height: 150px;
}

.chefs-hat {
    max-height: 48px;
    float: right;
    margin: 4px -12px 4px auto;
}

.mdl-ext__fixed-fab {
    position: fixed;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 998;
}

#addTodoButton {
    right: 24px;
    bottom: 24px;
}

#deleteAllButton {
    right: 96px;
    bottom: 24px;
}

.mdl-ext_todolist__item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mdl-ext__micro-button {
    transform: scale(0.9, 0.9) translateX(-1em);
}

.mdl-ext-progresscard__title-text {
    font-size: 1.4em;
}

.mdl-ext_progresscard__title {
    padding-bottom: 0px;
}

.mdl-ext_progresscard__supporting-text {
    padding-top: 16px;
}

.mdl-ext_progresscard {
    min-height: 0;
    position: fixed;
    z-index: 2;
}

.progresscard_spacer {
    height: 10px;
}

.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 290px;
}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.0rem;
}

.mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mdl-dialog__actions > * {
    margin-right: 8px;
    height: 36px;
}

.mdl-dialog__actions > *:first-child {
    margin-right: 0;
}

.mdl-dialog__actions--full-width {
    padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width > * {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right;
}

.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0, 0, 0, 0.54);
}

#myTodoProgressbar {
    width: 100%;
    <!--height: 1em;-->
}

#myTodoList {
    margin-top: 0px;
}

.wrapped {
    overflow-wrap: break-word;
    white-space: normal;
}